{%  extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <section id="content">
        <div id="breadcrumbs-wrapper" class=" grey lighten-3">
            <div class="container">
            <div class="row">
                <div class="col s12 m12 l12 center">
                <h4 class="title">ACTUALIZAR PARQUE</h4>
              </div>
            </div>
          </div>
        </div>
    </section>
    <br>
    <section id="">

        <div class="container">
            <div class="row">
                <a class="waves-effect waves-light btn modal-trigger" href="{% url 'AdmParques' %}">Ver Parques</a>
            </div>
        </div>
	</section>
    <section>
        <div class="container">
            <div class="">
                <div class="">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <div class="row valign">
                            <div class="col s12 m8 offset-m2 l8 offset-l2">
                                <div class="">
                                    <div class="">
                                        <form action="" class="form-control" method="post">{% csrf_token %}
                                            <div hidden="hidden">
                                                <label>ID:</label>
                                                <input type="text" placeholder="" id="txtId" name="txtId" required="true" value="{{ parque.id }}">
                                            </div>
                                            <label>Username:</label>
                                            <input type="text" placeholder="" id="txtNombre" name="txtNombre" required="true" value="{{ parque.parq_nombre }}">
                                            <button type="submit" name="submit" class="btn cyan waves-effect waves-light right" value="Agregar Usuario">
                                                ACTUALIZAR
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </div>
        </div>
    </section>
    


{% endblock content %}