{%  extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <section id="content">
        <div id="breadcrumbs-wrapper" class=" grey lighten-3">
            <div class="container">
            <div class="row">
                <div class="col s12 m12 l12 center">
                <h4 class="title">INGRESO DE SENSOR</h4>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section>
    <br>
        <br>
    <section id="">
        <div class="container">
            <div class="row">
                <a class="waves-effect waves-light btn modal-trigger" href="{% url 'AdmSensores' %}">Ver Sensores</a>
            </div>
        </div>
	</section>
        <div class="container">
            <div class="">
                <div class="">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <div class="row valign">
                            <div class="col s12 m8 offset-m2 l8 offset-l2">
                                <div class="">
                                    <div class="">
                                        <form action="" class="form-group" method="post">{% csrf_token %}
                                            <label>Nombre</label>
                                            {{ form.sen_nombre }}
                                            <label>Unidad Medida</label>
                                            {{ form.sen_unidadmedida }}
                                            <label>Localizacion</label>
                                            {{ form.sen_localizacion }}
                                            <div hidden="hidden">
                                                <label>Estado</label>
                                                {{ form.sen_estado }}
                                            </div>
                                            <div>
                                                <label>Tipo Sensor</label>
                                                {{ form.tipo }}
                                            </div>
                                            <div>
                                                <label>Dispositivo</label>
                                                {{ form.dispositivo_label }}
                                                {{ form.dispositivo }}
                                            </div>
                                            <button type="submit" name="submit" class="btn cyan waves-effect waves-light right" value="Agregar Dispositivo">
                                                AGREGAR
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </div>
        </div>
    </section>



{% endblock content %}