{%  extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div id="page-content-w">
        <div class="container-fluid">

          <section id="content">
            <div id="breadcrumbs-wrapper" class=" grey lighten-3">
              <div class="container">
                <div class="row">
                  <div class="col s12 m12 l12 center">
                    <h3 class="title">LUZ</h3>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section id="content">
            <div class="container">
              <div class="section">
                <div class="divider"></div>
                <div id="full-calendar">
                  <div class="row">
                    <div class="col m4 l3">
                      <div id="external-event">
                        <div class='fc-event cyan'>
                          <div class="center">Seccion 1</div>
                        </div>
                        <h3 href="#" align="center" onclick = "changeColor(this);"> ESTADO</h3>
                        <div class="switch center">
                          <label>
                            Off
                            <input type="checkbox" id="activador1" name="activador1" onchange="javascript:showContent(this)">
                            <span class="lever"></span> On
                          </label>
                        </div>
                        <br>
                        <div class='fc-event cyan'> 
                          <div class="center">Seccion 2</div>
                        </div>
                        <h3 href="#" align="center" class="center" onclick = "changeColor(this);"> ESTADO</h3>
                        <div class="switch center">
                          <label>
                            Off
                            <input type="checkbox" id="activador2" name="activador2" onchange="javascript:showContent(this)">
                            <span class="lever"></span> On
                          </label>
                        </div>
                      </div>
                      
                    </div>
                    <div class="col m4 l3">
                      
                        <div class='fc-event cyan'> <div class="center">Seccion 3</div></div>
                        
                        <h3 href="#" align="center" onclick = "changeColor(this);"> ESTADO</h3>
                        <div class="switch center">
                          <label>
                            Off
                            <input type="checkbox" id="activador3" name="activador3" onchange="javascript:showContent(this)">
                             <span class="lever"></span>On
                          </label>
                        </div>
                        <br>
                        <div class='fc-event cyan'> <div class="center">Seccion 4</div></div>
                        
                        <h3 href="#" align="center" class="" onclick = "changeColor(this);"> ESTADO</h3>
                        <div class="switch center">
                          <label>
                            Off
                            <input type="checkbox" id="activador4" name="activador4" onchange="javascript:showContent(this)">
                            <span class="lever"></span> On
                          </label>
                        </div>
                    </div>
                    <div class="col s6 m4 l6">
                      <img src="{% static 'img/parque.jpg' %}" style="width:400px;height:300px;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
      
          <script type="text/javascript" src="http://localhost:3000/socket.io/socket.io.js"></script>

          <script type="text/javascript">
              var livingTemp = new Array();
              var basementTemp = new Array();
              var socket = io.connect('http://localhost:3000');
              socket.on('connect', function () {
                socket.on('mqtt', function (msg) {
                  var message = msg.topic.split('/');
                  console.log('topico')
                  console.log(msg.topic)
                  var area = message[1];
                  var state = message[2];
                  console.log('CONSOLAS')
                  console.log('MENSAJES')
                  console.log(msg.topic, msg.payload);
                  console.log('ESTADO')
                  console.log(state);
                  console.log('AREA')
                  console.log(area);
                  var timestamp = 1;
                  console.log(timestamp);
                  $('#topic').html(msg.topic);
                  $('#message').html(msg.topic + ', ' + msg.payload);
                });
               socket.emit('subscribe', {topic : 'home/#'});
               socket.emit('subscribe', {topic : 'sensor/luminico'});
              });
          </script>
          
          <script>
            $("#activador1").click( function(){
                if( $(this).is(':checked') ){
                  console.log('activado');
                  var datos = {
                  'valor':'sectorA_1'
                };
                }
                else{
                  console.log('desactivado')
                  var datos = {
                  'valor':'sectorA_0'
                };
                }
                ajax(datos)
            });
            $("#activador2").click( function(){
                if( $(this).is(':checked') ){
                  console.log('activado');
                  var datos = {
                  'valor':'sectorB_1'
                };
                }
                else{
                  console.log('desactivado')
                  var datos = {
                  'valor':'sectorB_0'
                };
                }
                ajax(datos)
            });
            $("#activador3").click( function(){
                if( $(this).is(':checked') ){
                  console.log('activado');
                  var datos = {
                  'valor':'sectorC_1'
                };
                }
                else{
                  console.log('desactivado')
                  var datos = {
                  'valor':'sectorC_0'
                };
                }
                ajax(datos)
            });
            $("#activador4").click( function(){
                if( $(this).is(':checked') ){
                  console.log('activado');
                  var datos = {
                  'valor':'sectorD_1'
                };
                }
                else{
                  console.log('desactivado')
                  var datos = {
                  'valor':'sectorD_0'
                };
                }
                ajax(datos)
            });

            function ajax(datos){
              $.ajax({
                beforeSend: function () {
                  console.log('cargando')
                },
                url:'/ajaxLuces/',
                type:'get',
                data: {'objetos':JSON.stringify(datos),'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success:function(data){
                  if(data['result'] == "OK"){
                        console.log("¡Se ha publicado el mensaje correctamente!")
                    }else{
                       console.log("¡Error en la publicacion!")
                    }
                }, 
              });
            }
          </script>
          <script >
              function showContent(x) {
                  switch(x){
                    case activador1:
                      if (x.checked) {
                        Materialize.toast('Se an encendido las luces en el sector 1', 2000, 'rounded')
                        $.get('/modulos/registro/add/',{
                            descripcion:"Se an encendido las luces en el sector 1",
                            funcion:"Encendido",              
                        }); 
                      }
                      else {
                        Materialize.toast('Se han apagado las luces en el sector 1', 2000, 'rounded')
                        $.get('/modulos/registro/add/',{
                            descripcion:"Se han apagado las luces en el sector 1",
                            funcion:"Apagado",              
                        });
                      }
                      break;
                    case activador2:
                      if (x.checked) {
                        Materialize.toast('Se an encendido las luces en el sector 2', 2000, 'rounded')
                        $.get('/modulos/registro/add/',{
                            descripcion:"Se an encendido las luces en el sector 2",
                            funcion:"Encendido",              
                        });
                      }
                      else {
                        Materialize.toast('Se han apagado las luces en el sector 2', 2000, 'rounded')
                        $.get('/modulos/registro/add/',{
                            descripcion:"Se han apagado las luces en el sector 2",
                            funcion:"Apagado",              
                        });
                      }
                      break;
                    case activador3:
                      if (x.checked) {
                        Materialize.toast('Se an encendido las luces en el sector 3', 2000, 'rounded')
                        $.get('/modulos/registro/add/',{
                            descripcion:"Se an encendido las luces en el sector 3",
                            funcion:"Encendido",              
                        });
                      }
                      else {
                        Materialize.toast('Se han apagado las luces en el sector 3', 2000, 'rounded')
                        $.get('/modulos/registro/add/',{
                            descripcion:"Se han apagado las luces en el sector 3",
                            funcion:"Apagado",              
                        });
                      }
                      break;
                    case activador4:
                      if (x.checked) {
                        Materialize.toast('Se an encendido las luces en el sector 4', 2000, 'rounded')
                        $.get('/modulos/registro/add/',{
                            descripcion:"Se an encendido las luces en el sector 4",
                            funcion:"Encendido",              
                        });
                      }
                      else {
                        Materialize.toast('Se han apagado las luces en el sector 4', 2000, 'rounded')
                        $.get('/modulos/registro/add/',{
                            descripcion:"Se han apagado las luces en el sector 4",
                            funcion:"Apagado",              
                        });
                      }
                      break;
                  }
              }
          </script>
        </div>
    </div>
{% endblock content %}